@charset "UTF-8";

div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    
    align-content: flex-start;
    height: 100vh;
  
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    
}